@charset "utf-8";

@font-face {
  font-family: Champagne;
  src: url(cac_champagne.woff) format("woff"),
    url(cac_champagne.ttf) format("ttf");
}

/*
   Practical 3A
   
   Typographical Style Sheet
   
   Filename: gg_overlay4.css

*/

/* Page Body Styles */
h1{
   font-size: 2em;
}



p{
   font-size: 1.1em;
   margin-top: 20px;
   margin-bottom: 20px;
}

html {
  background-color: rgb(89, 142, 86);
}

/* Horizontal Navigation List Styles */
li{
   padding: 10px 20px;
   font-family: Champagne;
   font-size: 1.2em;
}
a{
   color: beige;
}
/* Article Styles */
div.newRow{
   background-color: rgb(70, 109, 65);
}

div.newRow2{
   width: 600px;
}
/* Specials Styles */
div.col-1-3.specials {
  background-color: rgb(96, 132, 94);
  width: 33%;
}

div.col-1-3.specials h1{
   font-size: 1.68em;
   text-align: center;
   font-family: Champagne;
   font-weight: 550;
   margin-top: 10px;
   margin-bottom: 10px;
}

/* ingredient Styles */
div.col-1-3{
   background-color: rgb(196, 155, 109);
   margin-top: 20px;
   margin-bottom: 20px;
}

div.col-1-3 div.ingredients p{
   font-size: 1em;
   padding: 0px;
   margin: 0px;
   text-align: center;
}

/* Footer Styles */
footer{
   background-color: rgb(18, 28, 17);
   color: rgb(204, 255, 204);
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
}